@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #EBEBFF;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  background-color: #fff;
}

.mylogo {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
  color: #6070FF;
}

.menu {
  margin-right: 20px;
}

.headline {
  width: 100%;
  height: auto;
  background-image: url(./images/header.png);
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom-left-radius: 50px;
  background-color: #fff;
}

.intro-head {
  font-size: 40px;
  width: 70%;
  margin-left: 10%;
  margin-top: 25%;
  color: #172B4D;
}

.intro {
  font-size: 16px;
  width: 85%;
  margin-left: 10%;
  color: #344563;
}

.connect {
  margin-left: 10%;
  color: #7F8CFF;
  font-weight: 500;
}

.lets-connect {
  margin-left: 10%;
  margin-bottom: 16%;
}

.work-section {
  display: grid;
  grid-template-rows: repeat(4, auto);
  width: 100%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: auto;
  justify-items: center;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 15px;
  border: 20px solid white;
  margin-top: 150px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 0 2px #a7aeef;
}

.img {
  background-image: url(./images/Snapshoot1.png);
  height: 230px;
  width: 300px;
  background-repeat: no-repeat;
  align-self: center;
  margin-left: 2%;
}

.card-details h1 {
  font-size: 32px;
  font-weight: 700;
  height: auto;
  width: auto;
  align-self: flex-start;
  color: #172B4D;
}

.techs {
  display: flex;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 0;
}

.tech-item {
  font-size: 13px;
  font-weight: 600;
  margin-left: 2%;
  color: #7A869A;
}

.no-margin {
  margin-left: 0;
  color: #344563;
}

.techs img {
  margin-left: 2%;
}

.card-details p {
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  color: #344563;
}

.card-details ul {
  display: flex;
  align-self: flex-start;
  list-style: none;
  padding-left: 0;
}

.lang-list {
  align-self: flex-start;
  background-color: #EBEBFF;
  border-radius: 8px;
  font-size: 12px;
  padding: 5px 10px;
  color: #6070FF;
  font-weight: 500;
}

.margin {
  margin-left: 5%;
}

.project {
  align-self: flex-start;
  height: 50px;
  width: 130px;
  border-radius: 8px;
  font-size: 17px;
  border: solid #6070FF;
  color: #396DF2;
  background-color: white;
}

.project:hover {
  cursor: pointer;
  background-color: #2d8bd4;
  color: #fff;
}

.project:active{
  background-color: #2230d2;
  color: #fff;
}

.img2 {
  background-image: url(./images/Snapshoot2.png);
}

.img3 {
  background-image: url(./images/Snapshoot3.png);
}

.img4 {
  background-image: url(./images/Snapshoot4.png);
}

.skills {
  background-color: #fff;
  margin-top: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  width: 100%;
  height: auto;
  width: 93%;
}

.details {
  display: flex;
  flex-direction: column;
}

.details h1 {
  font-size: 40;
  font-weight: 700;
  align-self: flex-start;
  margin-top: 25%;
  color: #172B4D;
}

.details p {
  font-size: 16px;
  font-weight: 400;
  width: 85%;
  color: #344563;
}

.connect-skills {
  font-size: 16px;
  font-weight: 400;
  color: #7F8CFF;
}

.lets-connect-skills {
  width: 200px;
}

.resume-button {
  align-self: flex-start;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-size: 17px;
  border: solid #6070FF;
  color: #396DF2;
  background-color: white;
  margin-top: 2%;
}

.resume-button:hover {
  cursor: pointer;
  background-color: #2d8bd4;
  color: #fff;
}

.resume-button:active{
  background-color: #2230d2;
  color: #fff;
}

.langs {
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-header h3 {
  font-size: 20px;
  font-weight: 500;
}

.list-header img {
  margin-right: 10%;
}

.languages {
  display: flex;
  flex-direction: column;
}

.lang-item {
  display: flex;
  background-color: #F7F7F9;
  border-radius: 8px;
  padding-left: 3%;
  padding: 2%;
  margin-bottom: 3%;
  width: 85%;
}

.lang-item h3{
  font-size: 15px;
  font-weight: 500;
  margin-left: 5%;
}

.border {
  border-bottom: 2px solid #dfe1e6;
}
.contact-form {
  height: auto;
  width: auto;
  background-color: #6070FF;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/formbackground.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
}

.contact-form h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-top: 20%;
}

.contact-form p {
  font-size: 18px;
  font-weight: 400;
  color: #EBEBFF;
  margin-top: 20%;
  margin: 0 10%;
  text-align: center;
  line-height: 28px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  width: 80%;
}

.name,
.text {
  width: 94%;
  height: 50px;
  border-radius: 10px;
  border: transparent;
  margin-bottom: 7%;
  padding-left: 5%;
  align-self: center;
}

.text {
  height: 150px;
  resize: none;
}

.text::placeholder {
  padding: 5% 0;
}

.submit {
  align-self: flex-start;
  height: 50px;
  width: 150px;
  border-radius: 8px;
  font-size: 17px;
  border: solid #6070FF;
  color: #396DF2;
  background-color: white;
  margin-top: 2%;
}

.submit:hover {
  cursor: pointer;
  background-color: #2230d2;
  color: #fff;
}

.submit:active{
  background-color: #2d8bd4;
  color: #fff;
}

.footer {
  background: #0d151e;
  width: 30%;
  height: 5px;
  border-radius: 10px;
  margin: 2% 0;
}

@media only screen and (min-width: 768px) {

  .card {
    flex-direction: row;
    height: 450px;
    border-radius: 20px;
    width: 85%;
    margin: 15% auto 0;
  }

  .img {
    height: 448px;
    width: 554px;
    background-size: 100%;
    background-image: url(./images/desktop/Snapshoot1.png);
    margin: 0;
  }

  .card-details {
    margin-left: 5%;
    margin-top: 0;
    align-self: self-start;
  }

  .card-details h1 {
    font-size: 40px;
  }

  .card-details p {
    font-size: 16px;
    width: 400px;
    height: 100px;
  }

  .tech-item {
    font-size: 18px;
    font-weight: 400;
  }

  .no-margin {
    font-weight: 500;
  }

  .margin {
    margin-left: 10px;
  }

  .reverse-card {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .img2 {
    background-image: url(./images/desktop/Snapshoot2.png);
  }
  
  .img3 {
    background-image: url(./images/desktop/Snapshoot3.png);
  }
  
  .img4 {
    background-image: url(./images/desktop/Snapshoot4.png);
  }
  
  .headline {
    background-image: url(./images/desktop/headerbackground.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 90vh;
    border-bottom-left-radius: 100px;
  }

  .intro-head {
    margin-top: 10%;
    width: 30%;
  }

  .intro {
    width: 60%;
  }

  .mylogo {
    margin-left: 8%;
  }

  .menu {
    margin-right: 8%;
  }

  .skills {
    flex-direction: row;
    border-top-right-radius: 100px;
  }

  .details {
    width: 40%;
    height: 90vh;
  }
  .details p {
    margin-top: 0;
  }

  .connect-skills {
    margin-top: 0;
  }

  .resume-button {
    margin-top: 7%;
  }

  .languages {
    flex-direction: row;
  }

  .list-header {
    width: 600px;
  }

  .langs {
    justify-content: center;
  }

  .lang-item {
    width: 82px;
    height: 72px;
    margin-right: 5%;
    flex-direction: column;
  }

  .lang-item img {
    height: 48px;
    width: 48px;
  }

  .contact-form p {
    width: 35%;
  }

  .name,
  .text {
    width: 35%;
    margin-bottom: 2%;
    padding-left: 2%;
  }

  .form {
    margin-top: 5%;
  }

  .submit {
    align-self: center;
    margin-top: 0;
  }

  .footer {
    width: 0;
  }

  .contact-form {
    background-image: url(./images/desktop/contactdesktop.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
  }
}
